@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

:root {
  --mack-primary: #EA0029;
  --mack-primary-hover: #c80023;
  --mack-dark: #121417;
}

